@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/* Common Styles */
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  
  font-style: normal;
}

*{
    padding: 0px;
    margin: 0px;
}
.flex-display-with-content-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Header Styles */
.header-container{
    margin: 0px;
}
/* navbar styles */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 50px;
    padding: 20px;
}
.resume-button{
    border: 1px solid #0D1321;
    border-radius: 8px;
    box-shadow: 1px 0.5px;
    padding: 17px 24px;
    font-weight: 600;
    color: #151b2ace;
}
/* banner styles */
.banner{
    
}
.banner{
    background-image: url(../assets/Hero-bg.png);
    background-size: 100% 100%;
    
    flex-direction: column;
    gap: 20px;
    
    padding: 30px;
}
.banner-title, .banner-description {
    
    padding: 0 40px;
    
}
.contact-btn{
    border: 1px solid black;
    border-radius: 8px;
    background-color: black;
    color: white;
    padding: 15px 25px;
    font-weight: 600;

}
/* main body styles */
.main-container{
    margin: 20px 40px;
    padding: 20px;
}
/* why web development styles */
.why-development-section, .my-inspiration-section, .current-target-container{
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.why-development-section{
    background-color: rgba(206, 202, 202, 0.077);
    border: 5px solid  rgba(169, 169, 169, 0.049);
    border-radius: 10px;
}
.web-development-title, .my-inspiration-title, .current-target-title, .card-title{
    font-weight: 900;
}
.web-development-para{
    color: #0d1321e6;
}
.web-development-details{
    flex-direction: column;
    gap: 30px;
}
.para-container-1, .para-container-2, .para-container-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
}
.para-container-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.learn-more-btn{
    width: 150px;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.298);
    font-weight: 600;
    color: #151b2ace;
    background-color: white;
}
.para-container-text-title{
    font-weight: bold;
    color: #151b2ace;
}
.para-container-text-details, .my-inspiration-text-details,.current-target-text-details, .card-text-details {
    color: #0d1321e6;
}
.para-container-2{
flex-direction: row-reverse;
justify-content: end;
align-items: center;
}
.youtube-video{
    margin: 20px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 8px;
}
.iframe-container{
    width: 100%;
    height: 500px;
    padding: 20px;
    border: 2px solid gray;
    border-radius: 10px;
}
iframe{
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
}
.current-target-cards-container{
    gap: 20px;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
}
.card-1, .card-2, .card-3{
background-color: #ff4b1e11;
display: flex;
flex-direction: column;

justify-content: space-between;
padding: 20px;
border: 1px solid rgba(43, 43, 43, 0.148);
border-radius: 10px;
height: 250px;
}
.card-image{
    
    width: 56px;
    height: 56px;
}
.card-2{
    background-color: #004de80f;
}
.card-3{
    background-color: #ffdd000e;
}
.support-need-section{
    background-image: url(../assets/handshake.jpg);
    background-size: 100% 100%;
    border: 1px solid rgba(0, 0, 0, 0.468);
    border-radius: 10px;
    flex-direction: column;
    color: whitesmoke;
    gap: 20px;
    padding: 20px;
    margin: 20px;
}
.support-text-details{
    color: rgba(245, 245, 245, 0.866);
}
.support-form{
    
    display: flex;
    gap: 20px;
    
}
.support-form-text{
    border: 1px solid rgba(0, 0, 0, 0.618);
    border-radius: 7px;
    width: 400px;
    
    padding: 10px;
}
.support-form-btn{
    padding: 10px 18px;
    border: 1px solid rgba(0, 0, 0, 0.618);
    border-radius: 7px;
    font-weight: 900;
}